.sidebar_row {
  width: 100px;
  min-width: 250px;
  padding: 5px 5px;
  box-shadow: 0 0 6px hsl(210 14% 90%);
}

.leftsidebarows_icons {
  color: #d3d1d1;
  font-size: larger;
}

.leftsidebarows_title {
  flex: 1;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
}

.sidebar_row:hover {
  background-color: orange;
  cursor: pointer;
}

.sidebar_row:hover > .leftsidebarows_icons {
  color: #ff0000;
}

.sidebar_row:hover > .leftsidebarows_title {
  font-weight: bold;
}
